<html>
  <head>
    <title>Zone selected</title>
  </head>
  <body>
    <h2>Historical Data</h2>
    <table border="1"> <!--This is use for create a table for show the data from de database-->
      <tr>
	<th>Date</th>
	<th>Time</th>
	<th>Zone</th>
	<th>Temperature</th>
      </tr>
	{% for row in historical_data %}
          <tr>
	  {% for cell in row %}<!--This is use for show the specifics values from one area-->
	    <td> {{cell}} </td>
	  {% endfor %}
	  </tr>
	{% endfor %}    
    </table>
  </body>
</html>
